@font-face{
  font-family:"Avenir Next Variable W05 Itali";
  src: url("5616356/cf7047b5-ced0-4cb1-b66e-688e29567e96.woff2") format("woff2"), url("5616356/8a2ab6e1-4ba1-439f-a73b-29918942af3b.woff") format("woff");
}

@font-face{
  font-family:"Avenir Next Variable W05835004";
  src: url("5835004/42801c92-f679-41d6-ab36-6c7ca7c7fa6c.woff2") format("woff2"), url("5835004/20522a37-c9e1-4059-b349-66eee8da006b.woff") format("woff");
}