:root {
  --text-size-title: 24px;
  --text-size: 16px;
  --text-size-small: 12px;
  --text-size-medium: 14px;
  --bg: #2D2C39;
  --responsive-menu: #fdfdfd;
  --text: #fdfdfd;
  --text-background: #112338d3;
  --default-border: 1px solid #fdfdfd;
  --desktop-margin: 1124px;
  --witnet-green: #41BEA5;
}

.dark-mode {
  --bg: #2D2C39;
  --responsive-menu: #fdfdfd;
  --text: #fdfdfd;
  --light-text: #bebebe;
  --link: #E54343;
  --text-background: #2d2c39d3;
  --default-border: 1px solid #fdfdfd;
  --white-text: #fdfdfd;
  --brightness-theme: 0.7;

  //Pagination

  --pagination-number: #fdfdfd; 
  --pagination-button-active: #41BEA5;
  --pagination-number-active: #41BEA5;
  --pagination-number-active-text: #2D2C39;
  --app-background-color: #2D2C39;
  --pagination-button: #fdfdfd;

  //Tooltip

  --tooltip-background: #FFFFFF10;
  --tooltip-bg: #2D2C39;

  // Select

  --selected-background: #37414c;
  --selected-text: #fdfdfd;
  --selected-icon: #62B1B058;
  --selected-border: 2px solid #62B1B015;
  --selected-options-background: #37414c;
  --selected-options-text: #fdfdfd;
  --selected-options-border: 2px solid #62B1B015;
  --selected-options-shadow: 1px 1px 10 2px #62B1B029;
  --selected-options-highlight: #62B1B015;

  // FeedCard

  --card-border: 1px solid #00d4aa22;
  --delay-status-border: 1px solid #DFC44B23;
  --error-status-border: 1px solid #DF4B4B23;
  --card-background: #00D4AA08;
  --card-box-selected-shadow: 0 0 11px #cacaca18;
  //Fieledset

  --fieldset-title: #fdfdfd;
  --fieldset-background: #FFFFFF10;

  //Logo

  --logo-main: #fdfdfd;
  --logo-dot: #41BEA5;

  //NavBar

  --nav-bar-background: #2d2c39;
  --nav-bar-slash-color: #5fbfae;

  // links

  --text-hover: #41BEA5;
  --text-medium-emphasis: #fdfdfdc0;

  // links

  --transaction-blur-background: #ffffff08;

  //ThemeSwitch

  --icon-color: #fdfdfd;
  --icon-background: #37414c94;

  //Transaction

  --witnet-transaction: #41BEA5;

  //ContractAddress

  --contract-address: #41BEA5;

  //Switcher

  --switcher-item-background: #41BEA5;
  --switcher-item-color: white;

  //Button

  --btn-primary-color: #EDEDED;
  --btn-primary-background-color: #00D4AA16;
  --btn-primary-background-color-active: #00d4aa36;
  --btn-primary-border-color: #00D4AA16;
  --btn-secondary-color: #4AB6A1;
  --btn-secondary-background-color: #4AB6A1;
  --btn-secondary-border-color: #4AB6A1;

  //footer
  --footer-bg: #4ab6a02c;
  --footer-border: 8px solid #00D4AA16;

  //language selector 
  --language-selector-bg: #2D2C39;

  //sidebar
  --tab-gradient: linear-gradient(90deg, #2d2c39d3 95%, #4ab6a02c);
  --tab-background: #2D2C39;
  --tab-gradient-selected: linear-gradient(90deg, rgba(45, 44, 57, 0) 0%, rgba(74, 182, 160, 0.05) 20%, rgba(74, 182, 160, 0.10) 24%, rgba(74, 182, 160, 0.15) 30%, rgba(74, 182, 160, 0.20) 35%);

  //breadcrumbs
  --selected-option: #4AB6A1;
}

.light-mode {
  --bg: #fdfdfd;
  --responsive-menu: #2D2C39;
  --text: #112338;
  --light-text: #666;
  --link: #E54343;
  --text-background: #ffffffd3;
  --default-border: 1px solid #2D2C39;
  --white-text: #fdfdfd;
  --brightness-theme: 0.1;

  //Pagination

  --pagination-number: #2D2C39; 
  --pagination-button-active: #41BEA5;
  --pagination-number-active: #41BEA5;
  --pagination-number-active-text: #fdfdfd;
  --pagination-button: #2D2C39;

  //Tooltip

  --tooltip-background: #2d2c3910;
  --tooltip-bg: #f6f6f7;

  // Select

  --selected-background: linear-gradient(90deg, #3f92a5 0%, #41bea5 57%);;
  --selected-text: #fdfdfd;
  --selected-icon: #fdfdfd;
  --selected-border: none;
  --selected-options-background: #F6F6F6;
  --selected-options-text: #1F1F24;
  --selected-options-border: 1px solid #fdfdfd;
  --selected-options-shadow: 1px 1px 10 2px #1F1F24;
  --selected-options-highlight: #1F1F2414;

  // FeedCard

  --card-border: 1px solid #41bea5;
  --delay-status-border: 1px solid #DFC44B;
  --error-status-border: 1px solid #df4b4b;
  --card-background: transparent;
  --name-color: #2D2C39;
  --value-color: #2D2C39;
  --card-box-shadow: #98979716 0 4px 4px;
  --card-box-selected-shadow: 0 0 11px rgba(152, 151, 151, 0.271);

  //Fieledset

  --fieldset-title: #2D2C39;
  --fieldset-background: #11233808;

  //Logo
  --logo-dot: #41bea5;
  --logo-main: #112338;

  //NavBar

  --nav-bar-background: #fdfdfd;
  --nav-bar-slash-color: #5fbfae;

  // links

  --text-hover: #41bea5;
  --text-medium-emphasis: #112338a9;

  // links

  --transaction-blur-background: #11233805;

  //ThemeSwitch

  --icon-color: #2D2C39;
  --icon-background: #ffffffd3;

  //Transaction

  --witnet-transaction: #41bea5;

  //ContractAddress

  --contract-address: #41bea5;

  //switcher

  --switcher-item-background: #41bea5;
  --switcher-item-color: #2D2C39;

  //Button

  --btn-primary-color: #FDFDFD;
  --btn-primary-background-color: #41bea5;
  --btn-primary-background-color-active: #41bea5dd;
  --btn-primary-border-color: #41bea5;
  --btn-secondary-color: #41bea5;
  --btn-secondary-background-color: #41bea5;
  --btn-secondary-border-color: hsl(168, 43%, 50%);

  //footer
  --footer-bg: #112338;
  --footer-border: 8px solid #41bea5;

  //language selector 
  --language-selector-bg: #112338;

  //sidebar
  --tab-gradient: linear-gradient(90deg, #fdfdfd 95%, #cbf5ed);
  --tab-background: #fdfdfd;
  --tab-gradient-selected: linear-gradient(90deg, #fdfdfd 0%, rgba(74, 182, 160, 0.80) 20%, rgba(74, 182, 160, 0.90) 24%, rgba(74, 182, 160, 0.97) 30%, rgba(74,182,161,1) 35%);

  //breadcrumbs
  --selected-option: #41bea5;
}

h1 {
  font-weight: bold;
  font-family: 'Avenir Next Variable W05835004', Arial, Helvetica, sans-serif;
}
p {
  font-family: 'Almarai', sans-serif;
  line-height: 1.5;
  &.title {
    font-family: 'Avenir Next Variable W05835004', Arial, Helvetica, sans-serif;
  }
}
.btn {
  font-family: 'Almarai', sans-serif;
}
.logo-subtitle {
  font-family: 'Avenir Next Variable W05835004', Arial, Helvetica, sans-serif;
}
.title {
  font-family: 'Avenir Next Variable W05835004', Arial, Helvetica, sans-serif;
}
.bold {
  font-weight: bold;
}
.light-text {
  color: var(--light-text);
}
.text {
  color: var(--text);
}

a {
  text-decoration: none;
  font-size: 1rem;
}